<!-- This is the html page that lists the catalog items in a particular category. -->
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class = 'category'>
        <h2>{{ 'Categories' }}</h2>
        {% for i in cats %}
        <p>{{i.name}}</p>
        {% endfor %}
    </div>
    <div class='items'>
        <h2>{{category.name}} items ({{count}} items)</h2>
        {% for i in items %}
        <a href="{{ url_for('itemDescription', cat_name=category.name, item_name=i.name) }}"><p style="color:black">{{i.name}}</p></a>
        {% endfor %}
    </div>
    <div class="navigation">
        {% if session.email %}
            <a href="{{ url_for('newCatItem', cat_name=category.name, new=new) }}">Add New Item</a>
            <br><br>
        {% endif %}
        <a href="{{ url_for('categoryList') }}">Return to Homepage</a>
    </div>
{% endblock %}